version: "3.8"

services:
  db:
    image: postgres:14
    restart: always
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin
      POSTGRES_DB: erp_database
    ports:
      - "5432:5432"
    volumes:
      - erp_database:/var/lib/postgresql/data

volumes:
  erp_database:
